/* Product.css */
.product-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: #f8f9fa;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.product-list.visible {
  transform: translateX(0);
}

.product-list div {
  margin-top: 100px; /* Increase the top margin */
  margin-bottom: 20px;
}

.product-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: #f8f9fa;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.product-list.visible {
  transform: translateX(0);
}

.product-list div {
  margin-top: 100px; /* Increase the top margin */
  margin-bottom: 20px;
}

.child-category-list {
  position: absolute;
  top: 4%; /* Position it right below the parent category */
  left: 40%; /* Align it to the left */
  transform: translateY(-100%); /* Initially hide it */
  transition: transform 0.3s ease-in-out;
}

.child-category-list.visible {
  transform: translateY(0); /* Show it when the parent category is clicked */
}

.child-category-list div {
  margin-top: 10px; /* Decrease the top margin */
  margin-bottom: 10px; /* Decrease the bottom margin */
}