/* Header.css */
.ProductHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.ProductHeader nav ul {
    display: flex;
    gap: 20px;
}

.ProductHeader nav ul li {
    list-style: none;
    cursor: pointer; /* Change the cursor to a hand pointer when hovering over the text */
    text-decoration: underline;
}

.ProductHeader nav ul li:hover {
    color: blue; /* Change the text color to blue when hovering over the text */
}

