.login-form-container {
    display: flex;
    justify-content: center;
    height: 70vh; /* Viewport height를 100%로 설정하여 전체 화면을 채우도록 합니다. */
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 45%;
    max-width: 300px;
}

.login-section label {
    display: flex; /* 이 부분을 추가합니다. */
    justify-content: flex-end; /* 이 부분을 추가합니다. */
}

.login-section .email-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login-section .email-login label {
    flex-grow: 1;
    margin-right: 10px;
}

.login-section .email-login input[type="submit"] {
    width: 80px;
}

.login-section form {
    display: flex; /* 이 부분을 수정합니다. */
    flex-direction: row; /* 이 부분을 수정합니다. */
    align-items: center; /* 이 부분을 수정합니다. */
}

.login-section .email-password-container {
    display: flex;
    flex-direction: column;
}

.button-container button img {
    width: 50%; /* 이미지의 너비를 버튼의 너비에 맞게 조절합니다. */
    height: auto; /* 이미지의 높이를 원래 비율에 맞게 조절합니다. */
    flex-grow: 0;
}

.button-container button {
    width: auto; /* 이미지의 너비를 버튼의 너비에 맞게 조절합니다. */
    flex-grow: 0;
}